@import "../../../palette.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: $color-neutral;
  padding: 0 1em;
  justify-content: stretch;
  z-index: 10;

  .title {
    font-size: 2em;
    color: white;
    font-weight: bold;
    flex: 1;
  }
}