@import "../../../palette.scss";

.dashboardClub {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 1rem;
  background-color: $color-neutral;
  border-radius: 1rem;
  gap: .5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  .name {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .description {
    font-size: 1rem;
    font-style: italic;
  }

  &:hover {
    background-color: $color-neutral-hover;
  }
}